.links line {
  stroke-opacity: 0.8;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node text {
  display: none;
  pointer-events: none;
  font-size: 12px;
}

.node:hover circle {
  fill: #0ff;
}

.node:hover text {
  display: inline;
}
