.links line {
    stroke-opacity: 0.8;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
    display: inline;
    pointer-events: none;
    font-size: 12px;
    color: white;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.node:hover circle {
    fill: #0ff;
}

/* sub-menu*/
#context-menu{
    display:block;
}