{% extends "base.html" %}

{% block title %}
    My Applications
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/css/audit.css">
{% endblock %}

{% block custom_js %}
    <script src="/js/applications.js"></script>
{% endblock %}

{% block container %}
    <div class="container">
    <div class="row">
        <!-- <div class="col-md-10 col-md-offset-1"> -->
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li role="presentation" class="active" id="create-tab">
                    <a href="#create-applications">
                        Create Applications
                    </a>
                </li>
                <li role="presentation" id="delete-tab">
                    <a href="#delete-applications">
                        Delete Applications
                    </a>
                </li>
                <li role="presentation" id="nat-tab">
                    <a href="#nat-applications">
                        NAT Applications
                    </a>
                </li>
                <li role="presentation" id="operation-tab">
                    <a href="#historical-operations">
                        Historical Operations
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="create-applications">
            <br />
            <table id="create-applications-table" class="display table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="hiding">Application ID</th>
                        <th>VM Type</th>
                        <th>OS</th>
                        <th>Memory</th>
                        <th>VM Name</th>
                        <th>Submission Time</th>
                        <th>Review Time</th>
                        <th>Reviewer</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in create_applications %}
                    <tr id="application-{{ application.id }}" class="create">
                        <td class="application-id hiding">{{ application.id }}</td>
                        <td>{{ application.vm_type }}</td>
                        <td>{{ application.os }}</td>
                        <td>{{ application.memory }}</td>
                        <td>{{ application.vm_name }}</td>
                        <td>{{ application.submission_time }}</td>
                        <td>{{ application.review_time }}</td>
                        <td>{{ application.reviewer }}</td>
                        <td>{{ application.state }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="delete-applications">
            <br />
            <table id="delete-applications-table" class="display table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="hiding">Application ID</th>
                        <th>VM Name</th>
                        <th>Host IP</th>
                        <th>Submission Time</th>
                        <th>Review Time</th>
                        <th>Reviewer</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in delete_applications %}
                    <tr id="application-{{ application.id }}">
                        <td class="application-id hiding">{{ application.id }}</td>
                        <td>{{ application.vm_name }}</td>
                        <td>{{ application.host_ip }}</td>
                        <td>{{ application.submission_time }}</td>
                        <td>{{ application.review_time }}</td>
                        <td>{{ application.reviewer }}</td>
                        <td>{{ application.state }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="nat-applications">
            <br />
            <table id="nat-applications-table" class="display table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="hiding">Application ID</th>
                        <th>VM Name</th>
                        <th>Host IP</th>
                        <th>Protocol</th>
                        <th>Host Port</th>
                        <th>VM Port</th>
                        <th>Submission Time</th>
                        <th>Review Time</th>
                        <th>Reviewer</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in port_applications %}
                    <tr id="application-{{ application.id }}">
                        <td class="application-id hiding">{{ application.id }}</td>
                        <td>{{ application.vm_name }}</td>
                        <td>{{ application.host_ip }}</td>
                        <td>{{ application.protocol }}</td>
                        <td>{{ application.host_port }}</td>
                        <td>{{ application.vm_port }}</td>
                        <td>{{ application.submission_time }}</td>
                        <td>{{ application.review_time }}</td>
                        <td>{{ application.reviewer }}</td>
                        <td>{{ application.state }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="historical-operations">
            <br />
            <table id="historical-operations-table" class="display table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Execute Time</th>
                        <th>VM Name</th>
                        <th>Operation Type</th>
                        <th>Result</th>
                        <th>Information</th>
                    </tr>
                </thead>
                <tbody>
                    {% for operation in operations %}
                    <tr>
                        <td>{{ operation.execute_time }}</td>
                        <td>{{ operation.vm_name }}</td>
                        <td>{{ operation.type }}</td>
                        <td>{{ operation.result }}</td>
                        <td>{{ operation.information }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
</div>
{% endblock %}