{% extends "base.html" %}

{% block title %}
My Virtual Machines
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block custom_js %}
    <script src="/js/myVMs.js"></script>
{% endblock %}

{% block vms_active %}
    class = "active"
{% endblock %}

{% block container %}
    <script type="application/javascript">
        var selected_vms = new Set();
        checkbox_onchange = function(checkboxEle, name){
            if(checkboxEle.checked){
                selected_vms.add(name);
            }else{
                selected_vms.delete(name);
            }
        }
    </script>
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-10 col-md-offset-1"> -->
            <div class="col-md-12">
                <!-- Datatable元素 -->
                <table id="myVMs-data-table" class="display table table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th> VM Name</th>
                            <th class="hiding">VM UUID</th>
                            <th class="hiding">VM Host</th>
                            <th>IP : Port (For SSH)</th>
                            <th>State</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="4">
                                <!--
                                <input type="checkbox" name="{{ vm.name }}-checkbox" style="transform: scale(1);">
                                &nbsp;&nbsp;
                                -->
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default" onclick="configurationOfSubnet()">Build Subnet</button>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <form>
                        {% for vm in vms %}
                            <script>
                                var host = {{ vm.host }};
                            </script>
                        <tr class="tooltip-options"  data-placement="top" data-toggle="tooltip" title=
                                "<p>VM Type:{{ vm.vm_type}}</p>
                                 <p>OS:{{ vm.os }}</p>
                                 <p>Memory:{{ vm.memory }}</p>">
                            <td>
                                <input type="checkbox" name="{{ vm.name }}-checkbox" onchange="checkbox_onchange(this, '{{ vm.name }}')" style="transform: scale(1);">
                                {{ vm.name }}
                            </td>
                            <td class="hiding vm-uuid">{{ vm.uuid }}</td>
                            <td class="hiding host-id">{{ vm.host }}</td>
                            <td>{{ vm.ip }} : {{ vm.ssh_port }}</td>
                            <td class="state-td">

                                <div id="{{ vm.uuid }}-progress-div" class="progress progress-striped">
                                    <div id="{{ vm.uuid }}-start-progress-1" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">0%</span>
                                    </div>
                                    <div id="{{ vm.uuid }}-start-progress-2" class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">0%</span>
                                    </div>
                                    <div id="{{ vm.uuid }}-start-progress-3" class="progress-bar progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">0%</span>
                                    </div>
                                    <div id="{{ vm.uuid }}-start-progress-4" class="progress-bar progress-bar-warning active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">0%</span>
                                    </div>
                                </div>
                                <i class="fa"> {{ vm.state }}</i>
                                <p class="state">
                                    <div class="state" style="float:left;">Stage: <b class="vm-stage"></b></div>
                                    <div class="state" style="float:right;">Time: <b class="time">0</b></div>
                                </p>
                                <p class="state">
                                    <div class="state vm-state" style="float:left;"></div>
                                </p>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success start-button"><i class="fa fa-play"> Start</i></button>
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="shutdown-button"><a href="#"><i class="fa fa-power-off"> Shutdown</i></a></li>
                                        <li class="hibernate-button"><a href="#"><i class="fa fa-pause"> Hibernate</i></a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="nat-button" data-toggle="modal" data-target="#natModal"><a href="#"><i class="fa fa-gears"> NAT Apply</i></a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="delete-button" data-toggle="modal" data-target="#deleteModal"><a href="#"><i class="fa fa-trash-o"> Delete</i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">确认删除</h4>
                </div>
                <div class="modal-body">
                    确定要删除这台虚拟机么？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=confirmDelete()>确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="natModal" tabindex="-1" role="dialog" aria-labelledby="natModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">NAT Apply</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Protocol</label>
                            <select class="form-control protocol-select">
                                <option>TCP</option>
                                <option>UDP</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Host Port:</label>
                            <select class="form-control port-select"></select>
                        </div>
                        <div class="form-group">
                            <label for="vm-port" class="control-label">VM Port:</label>
                            <input type="number" class="form-control vm-port" id="vm-port" placeholder="1~65535">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=applyNat()>确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-labelledby="natModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Subnet Construction</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Subnet Type</label>
                            <select id="net-type-selector"  class="form-control">
                                <option>Internal Network</option>
                                <option>Host-Only</option>
                            </select>
                        </div>
                        <div id = "subnet-name-input" class="form-group">
                            <label>Subnet Name</label>
                            <input type="text" class="form-control" id="net-name"/>
                        </div>
                        <div class="form-group">
                            <label>IP</label>
                            <input type="text" class="form-control" id="net-ip" placeholder="192.168.1.0"/>
                        </div>
                        <div class="form-group">
                            <label>Subnet Mask</label>
                            <input type="text" class="form-control" id="net-mask" placeholder="255.255.255.0"/>
                        </div>
                        <div class="form-group">
                            <label>Lower IP</label>
                            <input type="text" class="form-control" id="lower-ip" placeholder="192.168.1.1"/>
                        </div>
                        <div class="form-group">
                            <label>Upper IP</label>
                            <input type="text" class="form-control" id="upper-ip" placeholder="192.168.1.254"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick=applySubnet()>确定</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
